body {
  background-color: whitesmoke;
}

#header {
  background-color: #5784e2;
  color: white;
  padding: 30px;
}

#header hr {
  margin-top: 5px;
  background-color: whitesmoke;
  width: 50vw;
  text-align: left;
  margin-left: 0;
}

#uploadBar {
  margin: 0px;
}