body {
  background-color: whitesmoke;
}

#header {
  background-color: #5784e2;
  color: white;
  padding: 30px;
}

#header hr {
  margin-top: 5px;
  background-color: whitesmoke;
  width: 50vw;
  text-align: left;
  margin-left: 0;
}

.card img {
  width: 15vw;
}

#download-area {
  width: 75vw;
  margin-left: 0;
  margin-right: 0;
}